.user-details {
    margin: 10px;
}

mat-card-title {
    margin-bottom: 20px;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.movie-img {
    max-height: 326px;
    max-width: 220px;

}